{
  "presets": [
    [
      "env",
      {
        "targets": {
          "browsers": [
            "last 2 versions",
            "safari >= 7"
          ]
        }
      }
    ],
    "react"
  ],
  "plugins": [
    [
      "lodash",
      {
        "id": ["lodash", "semantic-ui-react"]
      }
    ],
    "syntax-dynamic-import",
    [
      "transform-react-remove-prop-types",
      {
        "mode": "wrap"
      }
    ]
  ]
}
